.fa-simple-pager {
  display: flex;
  flex-direction: column;
  gap: 1em;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__results {
    font-size: 0.8em;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }

  &__list {
    display: flex;
    gap: 0.25em;
    justify-content: center;
    margin: 0;
  }

  &__item {
    padding: 0.25em 0.5em;
    border: 1px solid var(--color-dark);
    height: 30px;
    border-radius: var(--radius);
    font-size: 90%;
    cursor: pointer;
    transition: 0.5s ease;

    &:hover {
      border: 1px solid transparent;
      color: var(--color-dark-text);
      background-color: var(--color-dark-shade);
    }

    &--active {
      border: 1px solid transparent;
      color: var(--color-dark-text);
      background-color: var(--color-dark);
    }

    &--disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &--desktop {
      display: block;

      @media (max-width: 767px) {
        display: none !important;
      }
    }

    &--mobile {
      display: none;

      @media (max-width: 767px) {
        display: block;
      }
    }

    &--number {
      aspect-ratio: 1;
      display: grid;
      place-items: center;
    }
  }
}
